@{
    ViewData["Title"] = "Home Page";
}

<h1>This is the second page</h1>
<p>Some more text goes here...</p>

<img src="~/images/MySelfImage.png" alt="My image" />

@{ 
    for (int i = 0; i < 10; i++)
    {
        <p>This is iteration number @i</p>
    }
}
